*{
    margin: 0;
    padding: 0;
}

body{
    background-color:bisque;
    font-family: "Poppins", sans-serif;

}

.header{
    text-align: center;
    border-bottom: 5px solid gray;
    margin-left: 30%;
    width: 500px;
    padding: 5px;

}

.image-container img{
    width: 220px;
    height: 400px;
    flex-grow: 2;
    flex-basis: 20%;
}

.image-container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}